<%- include("partials/header.ejs") -%>
    <h1>About</h1>
    <!-- <p><%= aboutContent %></p> -->
    <p>
        We value your feedback, questions, and contributions. If you have something you'd like to share or discuss with us, we would love to hear from you. Please use the contact information provided below to get in touch:
        <br>
        <br>
        General Inquiries:
        <br>
        For general inquiries, partnership opportunities, or press-related matters, please email us at prathambansal76@gmail.com . We strive to respond to all emails within 48 hours.
        <br>
        <br>
        Technical Support:
        <br>
        If you encounter any technical issues while browsing our website or have concerns regarding site functionality, please reach out to our technical support team at prathambansal76@gmail.com . We will do our best to assist you promptly and ensure a seamless user experience.
        <br>
        <br>

        Feedback and Suggestions:
        <br>
        We greatly value your feedback and suggestions as they help us improve our content and user experience. If you have any comments, suggestions, or ideas on how we can enhance our website, please send them to prathambansal76@gmail.com . We appreciate your input and strive to make META LOGS the best it can be.
        <br>
        <br>

        Thank you for taking the time to reach out to us. We look forward to hearing from you and appreciate your support in making [Blog Website Name] a valuable resource for our readers.
        <br>
        <br>

        Best regards,
        <br>

        The META LOGS Team
        <br>
        <br>
    </p>
<%- include("partials/footer.ejs") -%>