<%- include("partials/header.ejs") -%>
    <h1>Contact</h1>
    <p><%= contactContent %></p>
<%- include("partials/footer.ejs") -%>


<!-- Thank you for your interest in reaching out to us. We value your feedback, questions, and suggestions. Please feel free to contact us using the information provided below, and we will get back to you as soon as possible.

General Inquiries

If you have any general inquiries or need assistance, please reach out to us using the following contact details:

Email: [your email address]
Phone: [your phone number]
Address: [your physical address]
Customer Support

For any customer support related inquiries, including product inquiries, technical assistance, or order information, our dedicated support team is ready to assist you. You can contact our customer support team using the following methods:

Email: [customer support email address]
Phone: [customer support phone number]
Media Inquiries

If you are a member of the media and have any press-related inquiries or requests for interviews, please direct them to our media contact:

Email: [media contact email address]
Phone: [media contact phone number]
Business Inquiries

For business-related inquiries, partnership opportunities, or collaborations, please contact our business development team:

Email: [business development email address]
Phone: [business development phone number]
Feedback and Suggestions

We greatly appreciate any feedback or suggestions you may have to improve our products or services. If you have any ideas, comments, or recommendations, please share them with us using the following contact information:

Email: [feedback email address]
Phone: [feedback phone number] -->
